body {
    height:600px;
    width:300px;
}

#header {
    font-size:medium;
    font-weight:bold;
}

span {
    display:block;
    font-size:medium;
}

span:hover {
    background-color: lightgrey;
}

div {
    text-align:center;
}

#contents {
    text-align:left;
}

li {
    margin:0%;
    padding:0%;
    max-width:350px;
    list-style:none;
    display:inline;
}

img {
    width:15%;
}

img.option:hover {
    background-color: lightslategray;
}

#line {
    height:2px;
    background:black;
}

h3 {
    padding:0px;
    margin:0px;
}
